<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="prescription">
  
  <!-- property = 'vo의 변수명' column = 
  collection 의 resultMap에는 다른 resultMap의 아이디를 넣음 property는 vo 클래스에 가져온 변수이름 -->
   <!-- 김다유 : 처방전 의사정보 resultMap -->
   	<resultMap type="departmentDTO" id="departmentMap">
	<id property="dep_num" column="dep_num" javaType="int" />
		<result column="dep_name" property="dep_name"/>
	</resultMap>
	
   	<resultMap type="medicineDTO" id="medicineMap">
   	<id property="medicine_num" column="medicine_num" javaType="int" />
		<result column="medicine_name" property="medicine_name"/>
		<result column="medicine_detail" property="medicine_detail"/>
		<result column="medicine_taking" property="medicine_taking"/>
		<result column="medicine_warning" property="medicine_warning"/>
	</resultMap>
	
   	<resultMap type="treatmentRecordDTO" id="treatmentRecordMap">
   	<id property="treatment_num" column="treatment_num" javaType="int" />
		<result column="patient_num" property="patient_num"/>
		<result column="doctor_num" property="doctor_num"/>
		<result column="dep_num" property="dep_num"/>
		<result column="monitoring_time" property="monitoring_time"/>
		<result column="start_treatment_time" property="start_treatment_time"/>
	</resultMap>
	
	<!-- 에러나서 이미지 전부 지움 imgfile/photo -->
	<resultMap type="doctorDTO" id="doctorMap">
	<id property="doctor_num" column="doctor_num" javaType="int" />
		<result column="d_id" property="d_id" />
		<result column="d_pwd" property="d_pwd" />
		<result column="dep_num" property="dep_num" />
		<result column="d_name" property="d_name" />
		<result column="d_jumin_num" property="d_jumin_num" />
		<result column="d_phone_num" property="d_phone_num" />
		<result column="d_gender" property="d_gender" />
		<result column="d_zipcode" property="d_zipcode" />
		<result column="d_address1" property="d_address1" />
		<result column="d_address2" property="d_address2" />
		<result column="d_email" property="d_email" />
		<result column="d_licence" property="d_licence" />
		<result column="d_licence_num" property="d_licence_num" />
		<result column="d_regdate" property="d_regdate" />
		<result column="d_content" property="d_content" />
		<result column="d_photo" property="d_photo" />
		<result column="d_graduation" property="d_graduation" />
		<result column="d_career" property="d_career" />
		<result column="d_field" property="d_field" />
		<collection property="departmentDTO" resultMap="departmentMap"/>
	</resultMap>

	<resultMap type="patientDTO" id="patientMap">
	<id property="patient_num" column="patient_num" javaType="int" />
		<result column="p_id" property="p_id" />
		<result column="p_pwd" property="p_pwd" />
		<result column="p_name" property="p_name" />
		<result column="p_jumin_num" property="p_jumin_num" />
		<result column="p_phone_num" property="p_phone_num" />
		<result column="bloodtype" property="bloodtype" />
		<result column="allergy" property="allergy" />
		<result column="p_email" property="p_email" />
		<result column="height" property="height" />
		<result column="weight" property="weight" />
		<result column="p_photo" property="p_photo" />
		<result column="p_birth" property="p_birth" />
		<result column="p_gender" property="p_gender" />
		<result column="p_zipcode" property="p_zipcode" />
		<result column="p_address1" property="p_address1" />
		<result column="p_address2" property="p_address2" />
		<result column="p_phone" property="p_phone" />
		<result column="p_regdate" property="p_regdate" />
	</resultMap>
	
	
	<resultMap type="prescriptionDTO" id="prescriptionMap">
		<id property="prescription_num" column="prescription_num" javaType="int" />
		<result column="payment_check" property="payment_check" />
		<result column="dosage" property="dsg" />
		<result column="quantity" property="qty" />
		<result column="taking_date" property="tdate" />
		<result column="prescription_date" property="prescription_date" />
		<result column="medicine_num" property="medi_num" />
		<result column="patient_num" property="patient_num" />
		<result column="doctor_num" property="doctor_num" />
		<result column="treatment_num" property="treatment_num" />
		<result column="price" property="price" />
		<collection property="treatmentRecordDTO" resultMap="treatmentRecordMap"/>
		<collection property="doctorDTO" resultMap="doctorMap"/>
		<collection property="patientDTO" resultMap="patientMap"/>
		<collection property="departmentDTO" resultMap="departmentMap"/>
	</resultMap>
	
	<resultMap type="pay_recordDTO" id="pay_recordMap">
		<id property="pay_num" column="pay_num" javaType="int" />
		<result column="patient_num" property="patient_num" />
		<result column="doctor_num" property="doctor_num" />
		<result column="dep_num" property="dep_num" />
		<result column="prescription_num" property="prescription_num" />
		<result column="paydate" property="paydate" />
		<result column="price" property="price" />
		<result column="payment_way" property="payment_way" />
		<collection property="prescriptionDTO" resultMap="prescriptionMap"/>
		<collection property="doctorDTO" resultMap="doctorMap"/>
		<collection property="patientDTO" resultMap="patientMap"/>
		<collection property="departmentDTO" resultMap="departmentMap"/>
	</resultMap>
	
   <!-- 김다유 : 처방전 입력-->
   <!-- treatment_num 이 화상진료를 해야 생기는 데이터라 임의로 값을 넣어 놓음 향후 수정요망 -->
   <insert id="add_prescription" parameterType="prescriptionDTO">
   insert into prescription 
   values (prescription_num.nextval, #{patient_num},#{doctor_num},
   #{medi_num, jdbcType=VARCHAR},default,102,
   #{dsg, jdbcType=VARCHAR},#{qty, jdbcType=VARCHAR},
   #{tdate, jdbcType=VARCHAR},sysdate,#{price})
   </insert>

 <!-- 김다유 : 처방전 약품 검색 -->
  <select id="medicine_detail_info" parameterType="String" resultType="medicineDTO">
  	select * from medicine where medicine_num = #{medicine_num}
  </select>
	
   <!-- 김다유 : 처방전 환자 정보 -->
  <select id="patient_info" parameterType="int" resultType="patientDTO">
  	select * from dl_user where patient_num=#{patient_num} 
  </select>
  
   <!-- 김다유 : 처방전 의사 정보 -->
  <select id="doctor_info" parameterType="int" resultMap="doctorMap">
  	SELECT * FROM dl_doctor a JOIN department b ON a.dep_num = b.dep_num where doctor_num=#{doctor_num}
  </select>
  
   <!-- 김다유 : 처방전 병원 정보 -->
  <select id="drLink_info" resultType="drLinkDTO">
  	select * from drlink 
  </select>
  
  <!-- 김다유 : 약품정보 -->
  <select id="medicine_info" resultType="medicineDTO">
  	select * from medicine order by medicine_num
  </select>
  
  <!-- 김다유 : (의사측) 처방전 상세 정보 -->
  <select id="detail_prescription" parameterType="prescriptionDTO" resultMap="prescriptionMap">
	select * 
	from prescription p 
	join treatment_record t on p.treatment_num=t.treatment_num
	join dl_user u on p.patient_num = u.patient_num
	join dl_doctor d on p.doctor_num = d.doctor_num 
	where p.prescription_num=(SELECT max(prescription_num) FROM prescription)
  </select>
  
  <!-- 김다유 : 영수증 정보 -->
  <select id="patient_detail_payment" parameterType="int" resultType="pay_recordDTO">
  select * from payment_record where prescription_num = #{prescription_num}
  </select>
  
  	<!-- select * from payment_record a 
	join prescription b on a.prescription_num = b.prescription_num 
	join dl_user c on a.patient_num = c.patient_num
	join dl_doctor d on a.doctor_num = d.doctor_num
	join department e on a.dep_num = e.dep_num
	where a.prescription_num=#{prescription_num} -->
  
  <!-- 김다유 : (환자측) 처방전 상세 정보 -->
  <select id="patient_detail_prescription" parameterType="int" resultMap="prescriptionMap">
	select * 
	from prescription a 
	JOIN dl_doctor b ON a.doctor_num = b.doctor_num 
	JOIN department c ON b.dep_num=c.dep_num 
	JOIN treatment_record d on a.treatment_num = d.treatment_num
	JOIN dl_user e on a.patient_num = e.patient_num
	where a.prescription_num=#{prescription_num}
  </select>
  
  <!-- 김다유 : 처방기록 -->
  <select id="prescriptionRecord" parameterType="int" resultMap="prescriptionMap">
  SELECT * 
  FROM prescription a 
  JOIN dl_doctor b ON a.doctor_num = b.doctor_num 
  JOIN department c ON b.dep_num=c.dep_num 
  JOIN treatment_record d on a.treatment_num = d.treatment_num
  JOIN dl_user e on a.patient_num = e.patient_num
  WHERE a.patient_num=#{patient_num} order by a.prescription_num desc
  </select>	
  
  <update id="updatePay_chk" parameterType="int">
  	update prescription set payment_check = '1' where prescription_num = #{prescription_num}
  </update>
  
  <insert id="insertPay_record" parameterType="Pay_recordDTO">
  	insert into payment_record values(pay_record_num.nextval, #{patient_num}, #{doctor_num}, #{dep_num}, #{prescription_num}, sysdate, #{price}, #{payment_way})
  </insert>
  

  
  </mapper>